* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

#wrapper {
  max-width: 1440px;
  margin: auto;
}

header {
  max-width: 1440px;
  height: 64px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1276px;
  height: 64px;
  margin: auto;
}

.logo__link,
.footer__link_wrapper {
  text-decoration: none;
}

.logo {
  width: 141px;
  height: 40px;
}

.burger-menu-fon {
  display: none;
}

.nav {
  width: 1123px;
  height: 40px;
  display: flex;
  justify-content: end;
  margin-left: -10px;
}

.list__item {
  list-style-type: none;
}

.list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: #181c29;
  transition: 0.5s;
}

.list__link:nth-child(1) {
  width: 88px;
}

.list__link:nth-child(2) {
  width: 74px;
}

.list__link:nth-child(3) {
  width: 122px;
}

.list__link_active {
  width: 78px;
  color: #ff4646;
  background-color: #ff464610;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
}

.list__link:hover {
  cursor: pointer;
  color: #ff4646;
  background-color: #ff464610;
  border-radius: 12px;
  transition: 0.5s;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo__img {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.logo__title {
  width: 70px;
  height: 16px;
  margin-left: 8px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #181c29;
}

.logo:hover {
  cursor: pointer;
}

.nav-container {
  width: 376px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 1394px;
  background-color: #ff4646;
  background-image: url('/Christmas-Shop/christmas-shop/assets/img/bg-gifts.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 20px;
}

.gifts-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1276px;
  height: 1274px;
}

.gifts__title {
  width: 426px;
  height: 144px;

  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.gifts-tab-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 474px;
  height: 40px;
}

.gifts-tab__1,
.gifts-tab__2,
.gifts-tab__3,
.gifts-tab__4 {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.gifts-tab__1 {
  width: 65px;
  transition: 0.5s;
}

.gifts-tab__2 {
  width: 116px;
  transition: 0.5s;
}

.gifts-tab__3 {
  width: 126px;
  transition: 0.5s;
}

.gifts-tab__4 {
  width: 143px;
  transition: 0.5s;
}

.gifts-tab__1:hover,
.gifts-tab__2:hover,
.gifts-tab__3:hover,
.gifts-tab__4:hover {
  cursor: pointer;
  border-radius: 12px;
  background-color: #ffffff20;
  transition: 0.5s;
}

.gifts-tab_active {
  border-radius: 12px;
  background-color: #ffffff20;
}

.gifts-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  max-width: 1276px;
  height: 1050px;
}

.gifts-card {
  width: 310px;
  height: 342px;
  background-color: #ecf3f8;
  border-radius: 20px;
}

.gifts__img {
  width: 310px;
  height: 230px;
}

.gifts-card-content {
  width: 310px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 20px;
}

.gifts-card__title {
  margin-left: 20px;
  padding-top: 15px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4361ff;
}

.gifts-card__text {
  margin-left: 20px;
  padding-top: 10px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24.32px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181c29;
  transition: 0.5s;
}

.gifts-card:hover .gifts-card__text {
  color: #ff4646;
  transition: 0.5s;
}

.gifts-card:hover {
  cursor: pointer;
}

.modal-window {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #181c29cc;
  top: 0;
  left: 0;
  z-index: 2;
}

.modal-window-card {
  width: 400px;
  height: 514px;
  background-color: #ffffff;
  border-radius: 20px;
}

.modal-window-card-wrapper-img {
  width: 400px;
  height: 230px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: #ecf3f8;
}

.modal-window-card__img {
  scale: 1.3;
}

.modal-window-card-description {
  width: 400px;
  height: 284px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal-window-card-content {
  width: 360px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-window-card-content__category {
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #181c29;
}

.modal-window-card-content__name {
  height: 24px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24.32px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181c29;
}

.modal-window-card-content__desc {
  height: 48px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.68px;
  color: #181c29;
}

.modal-window-card-info {
  width: 360px;
  height: 120px;
}

.modal-window-card-info__title {
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #181c29;
}

.modal-window-card-live {
  width: 360px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.modal-window-card-live__name,
.modal-window-card-create__name,
.modal-window-card-live__number,
.modal-window-card-create__number,
.modal-window-card-love__name,
.modal-window-card-love__number,
.modal-window-card-dream__name,
.modal-window-card-dream__number {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.68px;
  color: #181c29;
}

.modal-window-card-wrapper {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-window-card-icons {
  width: 112px;
}

.modal-window-card-icon__live,
.modal-window-card-icon__create,
.modal-window-card-icon__love,
.modal-window-card-icon__dream {
  width: 16px;
  height: 16px;
  opacity: 0.3;
}

.modal-window-icon-close {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
  margin-top: 10px;
  z-index: 3;
}

.modal-window__line {
  position: absolute;
  width: 20px;
  height: 0px;
  border: 1px solid #181c29;
  rotate: 45deg;
}

.modal-window__line_two {
  position: absolute;
  width: 20px;
  height: 0px;
  border: 1px solid #181c29;
  rotate: -45deg;
}

.modal-window-icon-close:hover {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 496px;
  margin: auto;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1276px;
  height: 376px;
}

.footer-container-contacts {
  display: flex;
  justify-content: space-between;
  max-width: 1276px;
  height: 204px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 418px;
  height: 204px;
  background-color: #ecf3f8;
  border-radius: 20px;
  transition: 0.5s;
}

.footer__img {
  width: 80px;
  height: 80px;
}

.footer__link {
  width: 378px;
  height: 36px;

  text-decoration: none;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
  color: #181c29;
  transition: 0.5s;
}

.footer__text {
  width: 378px;
  height: 24px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24.32px;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  color: #181c29;
  transition: 0.5s;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1276px;
  height: 112px;
}

.footer-container-social {
  display: flex;
  justify-content: space-between;
  width: 196px;
  height: 40px;
}

.footer-img__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.footer-img__icon {
  width: 24px;
  height: 24px;
}

.footer-social__text {
  width: 301px;
  height: 24px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.68px;
  text-align: center;
  color: #181c29;
}

.footer-contacts:hover .footer__link,
.footer-contacts:hover .footer__text {
  cursor: pointer;
  color: #ff4646;
  transition: 0.5s;
}

.footer-contacts:hover {
  cursor: pointer;
  transition: 0.5s;
}

.overflow {
  overflow: hidden;
}

.text_blue {
  color: #4361ff;
}

.text_pink {
  color: #ff43f7;
}

.text_green {
  color: #06a44f;
}

.btn-up {
  width: 56px;
  height: 56px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 100px;
  background-color: #ffffff;
  border-color: #ffffff;
  background-image: url('/Christmas-Shop/christmas-shop/assets/icon/arrow-top.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
}

.btn-up:hover {
  cursor: pointer;
}

.show-btn-up {
  display: block;
}

@media (max-width: 1330px) and (min-width: 768px) {
  #container {
    width: 98%;
  }

  .logo__link {
    padding-left: 12px;
  }

  main {
    height: 2456px;
  }

  .gifts-section {
    height: 2336px;
  }

  .gifts-card-container {
    width: 85%;
    height: 2112px;
    justify-content: space-evenly;
  }

  footer {
    height: 928px;
  }

  .footer-container {
    height: 808px;
    width: 98%;
  }

  .footer-container-contacts {
    flex-direction: column;
    height: 636px;
  }

  .footer-contacts {
    width: 100%;
  }

}

@media (max-width: 800px) and (min-width: 380px) {
  .burger-menu-container {
    display: flex;
    justify-content: end;
    width: 599px;
  }

  .burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  .nav {
    display: none;
  }

  .burger-menu-fon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    right: -100%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    transition: 1s;
  }

  .burger-menu-nav-container {
    width: 100%;
    height: 240px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .open-burger-menu-nav-container {
    right: 0;
    transition: 1s;
  }

  .burger-menu-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: center;
    text-transform: uppercase;
    color: #181c29;
    transition: 0.5s;
  }

  .burger-menu__line {
    position: absolute;
    width: 20px;
    height: 0px;
    margin-top: -10px;
    border: 1px solid #181c29;
  }

  .burger-menu__line_two {
    position: absolute;
    margin-top: 10px;
    width: 20px;
    height: 0px;
    border: 1px solid #181c29;
  }

  .rotate-line {
    rotate: 45deg;
  }

  .rotate-line-two {
    rotate: -45deg;
    margin-top: -9px;
  }

}

@media (max-width: 768px) and (min-width: 380px) {
  .logo__link {
    padding-left: 20px;
  }

  .burger-menu-container {
    padding-right: 7px;
  }

  main {
    height: 4676px;
  }

  .gifts-section {
    height: 4556px;
    width: 96%;
  }

  .gifts__title {
    width: 364px;
    height: 240px;
  }

  .gifts-tab-container {
    width: 354px;
  }

  .gifts-tab__1 {
    width: 50px;
  }

  .gifts-card-container {
    height: 4236px;
    flex-direction: column;
  }

  footer {
    height: 928px;
  }

  .footer-container {
    height: 808px;
    width: 96%;
  }

  .footer-container-contacts {
    height: 636px;
    flex-direction: column;
  }

  .footer-contacts {
    width: 100%;
  }
}
