* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

#wrapper {
  max-width: 1440px;
  margin: auto;
}

header {
  width: 1440px;
  height: 64px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1276px;
  height: 64px;
  margin: auto;
}

.logo__link,
.footer__link_wrapper {
  text-decoration: none;
}

.logo {
  width: 141px;
  height: 40px;
}

.nav {
  width: 1123px;
  height: 40px;
  display: flex;
  justify-content: end;
  margin-left: -10px;
}

.list__item {
  list-style-type: none;
}

.list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: #181c29;
  transition: 0.5s;
}

.list__link:nth-child(1) {
  width: 78px;
}

.list__link:nth-child(2) {
  width: 88px;
}

.list__link:nth-child(3) {
  width: 74px;
}

.list__link:nth-child(4) {
  width: 122px;
}

.list__link:hover {
  cursor: pointer;
  color: #ff4646;
  background-color: rgba(255, 70, 70, 0.062745098);
  border-radius: 12px;
  transition: 0.5s;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo__img {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.logo__title {
  width: 70px;
  height: 16px;
  margin-left: 8px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #181c29;
}

.logo:hover {
  cursor: pointer;
}

.nav-container {
  width: 376px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero {
  display: flex;
  width: 1440px;
  height: 524px;
  background-color: #ff4646;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url('/Christmas-Shop/christmas-shop/assets/img/bg-snow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.bg-snow {
  width: 1440px;
  height: 524px;
  position: absolute;
  background-image: url('/Christmas-Shop/christmas-shop/assets/img/bg-ball.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-container {
  width: 429px;
  height: 404px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  z-index: 1;
}

.hero__text {
  font-family: Allura;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
}

.hero__title {
  font-family: Montserrat;
  margin-top: 10px;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.hero__btn,
.cta__btn {
  width: 235px;
  height: 56px;
  margin-top: 13px;
  background-color: #181c29;
  border: 2px solid #181c29;
  border-radius: 20px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  transition: 0.5s;
}

.hero__btn:hover,
.cta__btn:hover {
  background-color: #ffffff;
  color: #181c29;
  cursor: pointer;
  border-color: #ffffff;
  transition: 0.5s;
}

.hero__text:last-child {
  margin-top: 12px;
}

.about {
  display: flex;
  width: 1440px;
  height: 648px;
  background-color: #ff4646;
  background-image: url('/Christmas-Shop/christmas-shop/assets/img/bg-snow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-container {
  display: flex;
  width: 1276px;
  height: 528px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 20px;
}

.about-content {
  display: flex;
  align-items: center;
  width: 638px;
  height: 528px;
  border-radius: 20px;
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 426px;
  height: 328px;
  margin-top: 117px;
  margin-left: 60px;
}

.about-title {
  font-family: Allura;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #ff4646;
}

.about-header {
  margin-top: 23px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #181c29;
}

.about-text {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.46px;
  color: #181c29;
}

.about__img {
  width: 638px;
  height: 528px;
  border-radius: 20px;
}

.slider-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 488px;
  background-color: #ff4646;
  background-image: url('/Christmas-Shop/christmas-shop/assets/img/bg-snow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-container {
  width: 1276px;
  height: 368px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slider-content {
  width: 426px;
  height: 72px;
}

.slider__text,
.best-gifts__text,
.cta__text {
  height: 24px;
  font-family: Allura;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
}

.slider__title,
.best-gifts__title {
  height: 36px;
  margin-top: 13px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.slider-wrapper {
  width: 1276px;
  height: 200px;
  overflow: hidden;
}

.slider-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1993px;
  height: 200px;
}

.slider-row__text {
  height: 98px;
  font-family: Montserrat;
  font-size: 80px;
  font-weight: 600;
  line-height: 97.52px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.slider-row__text:nth-child(1) {
  width: 184px;
}

.slider-row__text:nth-child(3) {
  width: 330px;
}

.slider-row__text:nth-child(5) {
  width: 224px;
}

.slider-row__text:nth-child(7) {
  width: 315px;
}

.slider__img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.slider-btn-container {
  width: 1276px;
  height: 56px;
}

.slider-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.slider-btn-wrapper {
  display: flex;
  width: 133px;
  justify-content: space-between;
}

.slider-btn__left,
.slider-btn__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
}

.slider-btn__left {
  background-image: url('/Christmas-Shop/christmas-shop/assets/icon/arrow-left.png');
}

.slider-btn__right {
  background-image: url('/Christmas-Shop/christmas-shop/assets/icon/arrow-right.png');
}

.slider-btn_noactive {
  opacity: 0.4;
}

.slider-btn__left_active:hover,
.slider-btn__right_active:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #ff4646;
  transition: 0.5s;
}

.slider-btn__right_active:hover {
  background-image: url('/Christmas-Shop/christmas-shop/assets/icon/arrow-right-hover.png');
}

.slider-btn__left_active:hover {
  background-image: url('/Christmas-Shop/christmas-shop/assets/icon/arrow-left-hover.png');
}

.best-gifts-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 554px;
  background-color: #ff4646;
  background-image: url('/Christmas-Shop/christmas-shop/assets/img/bg-snow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.best-gifts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1276px;
  height: 434px;
}

.best-gifts-texts {
  width: 426px;
  height: 72px;
}

.best-gifts-content {
  display: flex;
  justify-content: space-between;
  width: 1276px;
  height: 342px;
}

.best-gifts-card {
  width: 310px;
  height: 342px;
  background-color: #ecf3f8;
  border-radius: 20px;
}

.best-gifts__img {
  width: 310px;
  height: 230px;
}

.best-gifts-card-content {
  width: 310px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 20px;
}

.best-gifts-card__title {
  margin-left: 20px;
  padding-top: 15px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4361ff;
}

.best-gifts-card__text {
  margin-left: 20px;
  padding-top: 10px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24.32px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181c29;
  transition: 0.5s;
}

.title_green {
  color: #06a44f;
}

.title_pink {
  color: #ff43f7;
}

.best-gifts-card:hover .best-gifts-card__text {
  color: #ff4646;
  transition: 0.5s;
}

.best-gifts-card:hover {
  cursor: pointer;
}

.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 668px;
  background-color: #ff4646;
  background-image: url('/Christmas-Shop/christmas-shop/assets/img/bg-snow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cta__img {
  width: 1440px;
  height: 668px;
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  margin-top: 120px;
  width: 426px;
  height: 428px;
}

.cta__title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.cta-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9px;
  width: 344px;
  height: 72px;
  background-color: rgba(255, 255, 255, 0.2509803922);
  border-radius: 20px;
}

.cta-timer-wrapper {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-timer-container {
  width: 80px;
  height: 52px;
}

.cta-timer__number {
  height: 36px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.cta-timer__text {
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.cta-timer-container:nth-child(1)::after,
.cta-timer-container:nth-child(2)::after,
.cta-timer-container:nth-child(3)::after {
  display: block;
  margin-left: 77px;
  margin-top: -38px;
  content: '';
  border: 1px solid #fff;
  border-block: none;
  width: 1px;
  height: 20px;
  border-left: #181c29;
}

.cta__text {
  margin-top: 20px;
}

.cta__btn {
  margin-top: 18px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 496px;
  margin: auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1276px;
  height: 376px;
}

.footer-container-contacts {
  display: flex;
  justify-content: space-between;
  width: 1276px;
  height: 204px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 418px;
  height: 204px;
  background-color: #ecf3f8;
  border-radius: 20px;
  transition: 0.5s;
}

.footer__img {
  width: 80px;
  height: 80px;
}

.footer__link {
  width: 378px;
  height: 36px;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 36.48px;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
  color: #181c29;
  transition: 0.5s;
}

.footer__text {
  width: 378px;
  height: 24px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24.32px;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  color: #181c29;
  transition: 0.5s;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 1276px;
  height: 112px;
}

.footer-container-social {
  display: flex;
  justify-content: space-between;
  width: 196px;
  height: 40px;
}

.footer-img__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.footer-img__icon {
  width: 24px;
  height: 24px;
}

.footer-social__text {
  width: 301px;
  height: 24px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.68px;
  text-align: center;
  color: #181c29;
}

.footer-contacts:hover .footer__link,
.footer-contacts:hover .footer__text {
  cursor: pointer;
  color: #ff4646;
  transition: 0.5s;
}

.footer-contacts:hover {
  cursor: pointer;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
